.navbar-container {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #30363d;
  color: #c9d1d9;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-logo {
  height: 32px;
  width: 32px;
}

.navbar-search-wrapper {
  position: relative;
}

.navbar-search-input {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 10px;
  padding: 5px 12px;
  color: #c9d1d9;
  width: 280px;
  height: 32px;
}

.navbar-link {
  color: #c9d1d9;
  font-weight: 500;
  text-decoration: none;
}

.navbar-button {
  background: none;
  border: none;
  color: #c9d1d9;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.profile-button {
  padding: 0;
}

.navbar-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.dropdown-caret {
  fill: currentColor;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  margin-top: 8px;
  right: 0;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 6px;
  box-shadow: 0 8px 24px #010409;
  width: 180px;
  z-index: 100;
  padding: 4px 0;
}

.create-dropdown {
  width: 160px;
}

.dropdown-item {
  display: block;
  padding: 8px 16px;
  color: #c9d1d9;
  text-decoration: none;
  font-size: 14px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #1f6feb;
  color: white;
}

.logout-button {
  width: 100%;
  text-align: left;
}

.dropdown-header {
  padding: 8px 16px;
  font-size: 14px;
  color: #8b949e;
}

.dropdown-header strong {
  color: #c9d1d9;
}

.dropdown-divider {
  height: 1px;
  margin: 8px 0;
  background-color: #30363d;
}
